{{template "Header" .}}

<div class="row">
  <div class="col-12 mx-4">
    <h3>Privilege Escalation - Access granted</h3>
    <p class="mb-4 mt-4">
        You are allowed to access this page. <br/><br/>
        <a href="/auth/privesc/menu">Go to the menu</a>
    </p>
  </div>
</div>

{{template "Footer"}}