{{template "Header" .}}

<div class="row">
  <div class="col-12 mx-4">
    <h3>Recon</h3>
    <p class="mb-4 mt-4">
        The site has some pages which are not linked to.
    </p>
  </div>
</div>

{{template "Footer"}}