{{template "Header" .}}

<meta name="author" content="admin_U8iCQ0QMvW">

<div class="row">
  <div class="col-12 mx-4">
    <h3>Secret Page 1</h3>
    <p class="mb-4 mt-4">
        Well done, you found one of the secret pages!
    </p>
  </div>
</div>

{{template "Footer"}}