{{template "Header" .}}

<div class="row">
  <div class="col-12 mx-4">
    <h3>About this site</h3>
    <p class="mb-4 mt-4">
        This site contains a variety of vulnerabilities and misconfigurations for you to try and exploit.
        It can be used to for learning about web application security, or to test security tooling.
        It doesn't attempt to replicate more comprehensive platforms for training or testing, like OWASP Juice Box, or OWASP Security Shepard.
        Instead we're focusing on the vulnerabilities which aren't present in those platforms or exposing them in ways that are better for testing Pakiki Proxy.
        <br/><br/>
        The code is available on <a href="https://github.com/forensant/pakiki-live-fire-range">GitHub</a>.
    </p>
  </div>
</div>

{{template "Footer"}}