{{template "Header" .}}

<div class="row">
  <div class="col-12 mx-4">
    <h3>Not Implemented</h3>
    <p class="mb-4 mt-4">
        This page has not been implemented yet.
    </p>
  </div>
</div>

{{template "Footer"}}